<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Inconsolata|Lobster|Cabin|Source+Code+Pro" rel="stylesheet">
<style>
    .container {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    textarea {
        font: 24px "Cabin";
        color: black;
        outline: none;
        border: none;
        background-color: white;
        opacity: 0.6;
        overflow: hidden;
        border-radius: 4px;
        padding: 5px 5px 5px 5px
    }
    input {
        font: 18px "Cabin";
        color: black;
        outline: none;
        border: none;
        background-color: white;
        opacity: 0.6;
        overflow: hidden;
        border-radius: 4px;
        padding: 5px 5px 5px 5px
    }
    p {
        font: 36px "Cabin";
        color: black;
        background-color: white;
        opacity: 0.6;
        border-radius: 4px;
        padding: 5px 5px 5px 5px;
    }
    li {
        font: 18px "Cabin";
        color: black;
        background-color: white;
        padding: 5px 5px 5px 5px;
    }
    .btn-transparent {
        background-color: transparent;
        color: lightgray;
        border: 1px solid lightgray;
    }
    .btn-transparent:hover {
        color: white;
        border: 1px solid white;
    }
</style>
<body style="background-size: 100%;">
<div class="modal fade text-center" id="controls" data-backdrop="static" data-keyboard="false" role="dialog" style="background: rgba(204, 204, 204, 0.2);">
    <div class="modal-dialog text-left" style="padding: 200px 50px 100px 50px">
        <!--<div class="modal-body text-left" style="color: black;background-color: white;padding: 50px 50px 50px 25px;border-top: none">-->
            <!--<ul>-->
                <h4 style="color: white">1. Hit the + button to create a text note. Type, then hit enter.</h4>
                <h4 style="color: white">2. Double click on a note to edit it, then hit enter to freeze it. </h4>
                <h4 style="color: white">3. Hold the shift key and click a note to delete it.</h4>
                <h4 style="color: white">4. Drag a note to move it.</h4>
            <!--</ul>-->
        <!--</div>-->
        <br>
        <button type="button" class="btn btn-sm btn-transparent" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span></button>
        <br>
    </div>
</div>
<div class="modal fade text-center" id="signup" data-backdrop="static" data-keyboard="false" role="dialog" style="background: rgba(204, 204, 204, 0.2);">
    <div class="modal-dialog text-center">
        <br><br><br><br><br>
        <h1 style="color: white">Welcome to Boards</h1>
        <br>
        <div style="color: lightgray">
            <!--<span class="glyphicon glyphicon-user" id="guy" style="color: white; transition: color 1s"></span>-->
            <!--<input id="username" type="text" placeholder="username" autofocus="autofocus">-->
            <!--<br>-->
            <!--&lt;!&ndash;{% if user_taken %}&ndash;&gt;-->
                <!--&lt;!&ndash;<h5 style="color:red">That username is already taken!</h5>&ndash;&gt;-->
            <!--&lt;!&ndash;{% endif %}&ndash;&gt;-->
            <!--<br>-->
            <!--<span class="glyphicon glyphicon-lock" id="lock" style="color: white; transition: color 1s"></span>-->
            <!--<input id="password" type="password" placeholder=password autofocus="autofocus">-->
            <!--<br><br>-->
            <br>
            <button type="submit" onclick="enter()" class="btn btn-transparent btn-sm"><h6 style="letter-spacing: 1px; font: 18px 'Cabin';">Enter</h6></button>
            <!--or <button type="submit" onclick="logIn()" class="btn btn-transparent btn-sm">Log in</button>-->
            <br>
            <!--<h5 style="color: white">Already have an account? <br><br> <button type="submit" onclick="logIn()" class="btn btn-transparent btn-sm">Log in</button></h5>-->
        </div>
    </div>
</div>
<div class="modal fade text-center" id="login" data-backdrop="static" data-keyboard="false" role="dialog" style="background: rgba(204, 204, 204, 0.2);">
    <div class="modal-dialog text-center">
        <br><br><br><br><br>
        <h1 style="color: white">Welcome back!</h1>
        <br>
        <div style="color: lightgray">
            <span class="glyphicon glyphicon-user" id="guy2" style="color: white; transition: color 1s"></span>
            <input id="username2" type="text" placeholder="username" autofocus="autofocus">
            <br><br>
            <span class="glyphicon glyphicon-lock" id="lock2" style="color: white; transition: color 1s"></span>
            <input id="password2" type="password" placeholder=password autofocus="autofocus">
            <br><br>
            <button type="submit" onclick="load()" class="btn btn-transparent btn-sm"><h6 style="letter-spacing: 1px; font: 18px 'Cabin';">Log in</h6></button>
        </div>
    </div>
</div>

<div class="container">
    <!--<textarea ng-model="user" id="textarea" placeholder="what's on your mind?" autofocus="autofocus"></textarea>-->
</div>

<script>

    var backgrounds = ['http://static.businessinsider.com/image/51c33f37eab8ea675e000007/image.jpg',
        'https://static.pexels.com/photos/792/wood-landscape-mountains-nature.jpg',
        'https://seefcbplayers.files.wordpress.com/2013/09/fc-barcelona-camp-nou.jpg',
        'http://fjordtravel.no/wp-content/uploads/2013/09/001115_Gaute-Bruvik_www.nordnorge.com_Karlsoey.jpg'
    ];

    document.body.style.backgroundImage = "url('" + backgrounds[Math.floor(Math.random() * backgrounds.length)] + "')";

    function load() {
        $("#login").modal("toggle");

    }

    function logIn() {
        $("#signup").modal("toggle");
        $("#login").modal("toggle");
    }

    function enter() {
        $("#signup").modal("toggle");
    }

    function signUp() {
        var username = document.getElementById('username').value;
        var password = document.getElementById('password').value;
        $.getJSON('/boards_accounts', {username: username, password: password}, function (data) {

        });
        if (username == '') {
            document.getElementById('guy').style.color = 'red';
        } else {
            document.getElementById('guy').style.color = 'white';
        }
        if (password == '') {
            document.getElementById('lock').style.color = 'red';
        } else {
            document.getElementById('lock').style.color = 'white';
        }
        var userTaken = '{{ user_taken }}';
        console.log(userTaken);
        if (username != '' && password != '') {
            if (userTaken == 'true') {
                alert('Sorry, that username is already taken!');
            } else {
                $("#signup").modal("toggle");
                setTimeout(function() {
                    controls_go();
                }, 500);
            }
        }
    }

    var newNoteButton = function() {
        var node = document.createElement("p");
        var textnode = document.createTextNode('+');
        node.appendChild(textnode);
        node.addEventListener('mouseenter', function() {
            node.style.opacity = 0.8;
            node.style.color = 'black';
            var textnode = document.createTextNode('');
            textnode.innerHTML = 'type, then hit enter to create a next text node.';
            textnode.appendChild(textnode);
        });
        node.addEventListener('mouseleave', function() {
            node.style.opacity = 0.6;
            node.style.color = 'black';
        });
        node.addEventListener('click', function() {
            newNote();
        });
        document.body.appendChild(node);

        move(node, window.innerWidth - 140, 10);
        node.style.fontSize = 24 +'px';
    };

    var controls = function() {
        var node = document.createElement("p");
        var textnode = document.createTextNode('controls');
        node.appendChild(textnode);
        node.addEventListener('mouseenter', function() {
            node.style.opacity = 0.8;
            node.style.color = 'black';
            var textnode = document.createTextNode('');
            textnode.innerHTML = 'type, then hit enter to create a next text node.';
            textnode.appendChild(textnode);
        });
        node.addEventListener('mouseleave', function() {
            node.style.opacity = 0.6;
            node.style.color = 'black';
        });
        node.addEventListener('click', function() {
            controls_go();
        });
        document.body.appendChild(node);

        move(node, window.innerWidth - 100, 10);
        node.style.fontSize = 24 +'px';
    };


    newNoteButton();
    controls();
    log_in();
    var textarea = document.getElementById('textarea');
    var id = 0;

    function move(ele, x, y) {

        ele.style.position = "absolute";
        ele.style.left = x+'px';
        ele.style.top = y+'px';
    }

    function controls_go() {
        $("#controls").modal("toggle");
    }

    function log_in() {
        $("#signup").modal("toggle");
    }

    function newNote() {
        var node = document.createElement("textarea");
        node.autofocus = 'autofocus';
        node.placeholder = "Type something...";
        id = id + 1;
        node.id = id;
        node.cols = 30;
        node.rows = 3;
        node.style.opacity = 0;

        node.setAttribute('draggable', 'true');
        node.addEventListener('click', function(e) {
            if (e.shiftKey) {
                document.body.removeChild(node);
            }
        });
        node.addEventListener('dblclick', function()  {
            node.readOnly = false;
        });
        node.addEventListener('keypress', function(e) {
            if (e.keyCode == 13) {
                node.style.fontSize = 18 +'px';
                node.cols = 15;
                node.rows = 3;
                node.readOnly = true;

            }
        });
        node.addEventListener('mouseenter', function() {
            node.style.opacity = 0.8;
            node.style.color = 'black';
            var textnode = document.createTextNode('');
            textnode.innerHTML = 'type, then hit enter to create a next text node.';
            textnode.appendChild(textnode);
        });
        node.addEventListener('mouseleave', function() {
            node.style.opacity = 0.6;
            node.style.color = 'black';
        });
        node.addEventListener('dragend', function(e) {
            move(node, e.clientX, e.clientY - $('#' + node.id).height());
        });
        document.body.appendChild(node);
        fade_in(node);
        move(node, window.innerWidth * 0.3 * Math.random() + window.innerWidth * 0.1,
                window.innerHeight * 0.3 * Math.random() + window.innerHeight * 0.1);
        node.style.fontSize = 36 +'px';
        textarea.value = '';
    }

    function fade_in(element) {
        var op = 0.1;
        element.style.display = 'block';
        var timer = setInterval(function () {
            if (op >= 0.6){
                clearInterval(timer);
            }
            element.style.opacity = op;
            element.style.filter = 'alpha(opacity=' + op * 100 + ")";
            op += op * 0.1;
        }, 10);
    }
</script>
</body>
</html>

