<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Inconsolata|Lobster|Cabin|Source+Code+Pro" rel="stylesheet">
<style>
    .container {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    textarea {
        font: 24px "Cabin";
        color: black;
        outline: none;
        border: none;
        background-color: white;
        opacity: 0.6;
        overflow: hidden;
        border-radius: 4px;
        padding: 5px 5px 5px 5px
    }
    input {
        font: 18px "Cabin";
        color: black;
        outline: none;
        border: none;
        background-color: white;
        opacity: 0.6;
        overflow: hidden;
        border-radius: 4px;
        padding: 5px 5px 5px 5px
    }
    p {
        font: 36px "Cabin";
        color: black;
        background-color: white;
        opacity: 0.6;
        border-radius: 14px;
        padding: 5px 5px 5px 5px;
    }
    .btn-transparent {
        background-color: transparent;
        color: lightgray;
        border: 1px solid lightgray;
        font: 24px "Cabin";
    }
    .btn-transparent:hover {
        color: white;
        border: 1px solid white;
    }
</style>
<body style="background-size: 100%;">
<div class="modal fade text-center" id="controls" data-backdrop="static" data-keyboard="false" role="dialog" style="background: rgba(204, 204, 204, 0.2);">
    <div class="modal-dialog text-left" style="padding: 200px 50px 100px 50px">
        <!--<div class="modal-body text-left" style="color: black;background-color: white;padding: 50px 50px 50px 25px;border-top: none">-->
            <!--<ul>-->
                <h4 style="color: white">1. Hit the + button to create a text note. Hit enter when you're done.</h4>
                <h4 style="color: white">2. Double click on a note to edit it, then hit enter to freeze it. </h4>
                <h4 style="color: white">3. To delete a note, hold shift and click on it.</h4>
                <h4 style="color: white">4. Drag a note to move it.</h4>
            <!--</ul>-->
        <!--</div>-->
        <br>
        <button type="button" class="btn btn-sm btn-transparent" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span></button>
        <br>
    </div>
</div>
<div class="modal fade text-center" id="signup" data-backdrop="static" data-keyboard="false" role="dialog" style="background: rgba(204, 204, 204, 0.2);">
    <div class="modal-dialog text-center">
        <br><br><br><br><br>
        <h1 style="color: white; font: 64px 'Cabin'">SlateUniverse v1.0</h1>

        <div style="color: lightgray">
            <!--<span class="glyphicon glyphicon-user" id="guy" style="color: white; transition: color 1s"></span>-->
            <!--<input id="username" type="text" placeholder="username" autofocus="autofocus">-->
            <!--<br>-->
            <!--&lt;!&ndash;{% if user_taken %}&ndash;&gt;-->
                <!--&lt;!&ndash;<h5 style="color:red">That username is already taken!</h5>&ndash;&gt;-->
            <!--&lt;!&ndash;{% endif %}&ndash;&gt;-->
            <!--<br>-->
            <!--<span class="glyphicon glyphicon-lock" id="lock" style="color: white; transition: color 1s"></span>-->
            <!--<input id="password" type="password" placeholder=password autofocus="autofocus">-->
            <!--<br><br>-->


            {% if user_status %}
                <button type="submit" onclick="signIn()" class="btn btn-transparent btn-sm">Sign in</button>
            {% else %}
                <h3 style="font: 24px 'Cabin'; color: white">Hello, {{name}}</h3>
            <br>
                <button type="submit" onclick="load()" class="btn btn-transparent btn-sm">Enter</button>
            {% endif %}


            <!--or <button type="submit" onclick="logIn()" class="btn btn-transparent btn-sm">Log in</button>-->
            <!--<br>-->
            <!--<h5 style="color: white">Already have an account? <br><br> <button type="submit" onclick="logIn()" class="btn btn-transparent btn-sm">Log in</button></h5>-->
        </div>
    </div>
</div>

<div class="container">
    <!--<textarea ng-model="user" id="textarea" placeholder="what's on your mind?" autofocus="autofocus"></textarea>-->
</div>

<script>

    var backgrounds = ['http://static.businessinsider.com/image/51c33f37eab8ea675e000007/image.jpg',
        'https://static.pexels.com/photos/792/wood-landscape-mountains-nature.jpg',
        'https://seefcbplayers.files.wordpress.com/2013/09/fc-barcelona-camp-nou.jpg',
        'http://fjordtravel.no/wp-content/uploads/2013/09/001115_Gaute-Bruvik_www.nordnorge.com_Karlsoey.jpg',
        'https://s-media-cache-ak0.pinimg.com/originals/cd/0b/00/cd0b00a78edd426a3a389771dacdc911.jpg'
    ];

    var starterMessages = ["Hello darkness, my old friend...",
        "It's a long way to the top, if you wanna rock n roll...",
        "I never sleep, cause sleep is the cousin of death...",
        "No, woman, no cry..."
    ];

    document.body.style.backgroundImage = "url('" + backgrounds[Math.floor(Math.random() * backgrounds.length)] + "')";

    function load() {
        $("#signup").modal("toggle");
    }

    function logOut() {
        window.location = '{{ url }}';
    }

    function logIn() {
        $("#signup").modal("toggle");
        $("#login").modal("toggle");
    }

    function signIn() {
        $("#signup").modal("toggle");
        window.location = '{{ url }}';
    }

//    function signUp() {
//        var username = document.getElementById('username').value;
//        var password = document.getElementById('password').value;
//        $.getJSON('/boards_accounts', {username: username, password: password}, function (data) {
//
//        });
//        if (username == '') {
//            document.getElementById('guy').style.color = 'red';
//        } else {
//            document.getElementById('guy').style.color = 'white';
//        }
//        if (password == '') {
//            document.getElementById('lock').style.color = 'red';
//        } else {
//            document.getElementById('lock').style.color = 'white';
//        }
//        var userTaken = '{{ user_taken }}';
//        console.log(userTaken);
//        if (username != '' && password != '') {
//            if (userTaken == 'true') {
//                alert('Sorry, that username is already taken!');
//            } else {
//                $("#signup").modal("toggle");
//                setTimeout(function() {
//                    controls_go();
//                }, 500);
//            }
//        }
//    }

    var newNoteButton = function() {
        var node = document.createElement("p");
        var textnode = document.createTextNode('+ new Slate');
        node.appendChild(textnode);
        node.addEventListener('mouseenter', function() {
            node.style.opacity = 0.8;
            node.style.color = 'black';
        });
        node.addEventListener('mouseleave', function() {
            node.style.opacity = 0.6;
            node.style.color = 'black';
        });
        node.addEventListener('click', function() {
            newNote();
        });
        document.body.appendChild(node);

        move(node, window.innerWidth - 190, 10);
        node.style.fontSize = 18 +'px';
    };

    var logOutButton = function() {
        var node = document.createElement("p");
        var textnode = document.createTextNode('log out');
        node.appendChild(textnode);
        node.addEventListener('mouseenter', function() {
            node.style.opacity = 0.8;
            node.style.color = 'black';
        });
        node.addEventListener('mouseleave', function() {
            node.style.opacity = 0.6;
            node.style.color = 'black';
        });
        node.addEventListener('click', function() {
            logOut();
        });
        document.body.appendChild(node);

        move(node, 10, 10);
        node.style.fontSize = 18 +'px';
    };

    var c = 0;
    function backgroundCounter() {
        c = c + 1;
        return c;
    }

    var backgroundOffButton = function() {
        var node = document.createElement("p");
        var textnode = document.createTextNode('background off');
        node.appendChild(textnode);
        node.addEventListener('mouseenter', function() {
            node.style.opacity = 0.8;
            node.style.color = 'black';
        });
        node.addEventListener('mouseleave', function() {
            node.style.opacity = 0.6;
            node.style.color = 'black';
        });
        node.addEventListener('click', function() {
            if (backgroundCounter() % 2 == 1) {
                document.body.style.background = 'whitesmoke';
                node.innerHTML = "background on";
            } else {
                document.body.style.backgroundImage = "url('" + backgrounds[Math.floor(Math.random() * backgrounds.length)] + "')";
                document.body.style.backgroundSize = '100%';
                node.innerHTML = "background off";
            }
        });
        document.body.appendChild(node);

        move(node, window.innerWidth - 135, window.innerHeight - 40);
        node.style.fontSize = 18 +'px';
    };

    var controls = function() {
        var node = document.createElement("p");
        var textnode = document.createTextNode('controls');
        node.appendChild(textnode);
        node.addEventListener('mouseenter', function() {
            node.style.opacity = 0.8;
            node.style.color = 'black';
        });
        node.addEventListener('mouseleave', function() {
            node.style.opacity = 0.6;
            node.style.color = 'black';
        });
        node.addEventListener('click', function() {
            controls_go();
        });
        document.body.appendChild(node);

        move(node, window.innerWidth - 80, 10);
        node.style.fontSize = 18 +'px';
    };

    generatePastNotes();
    logOutButton();
    newNoteButton();
    controls();
    backgroundOffButton();
    log_in();
    var textarea = document.getElementById('textarea');
    var id = 0;

    function move(ele, x, y) {

        ele.style.position = "absolute";
        ele.style.left = x+'px';
        ele.style.top = y+'px';
    }

    function controls_go() {
        $("#controls").modal("toggle");
    }

    function log_in() {
        $("#signup").modal("toggle");
    }

    function newNote() {
        var node = document.createElement("textarea");
        node.autofocus = 'autofocus';
        node.placeholder = starterMessages[Math.floor(Math.random() * starterMessages.length)];
        id = id + 1;
        node.id = id;
        node.cols = 30;
        node.rows = 3;
//        node.style.border = '1px solid black';
        node.style.opacity = 0;

        var node_location = {x: window.innerWidth * 0.3 * Math.random() + window.innerWidth * 0.1,
            y: window.innerHeight * 0.3 * Math.random() + window.innerHeight * 0.1};

        node.setAttribute('draggable', 'true');
        node.addEventListener('click', function(e) {
            if (e.shiftKey) {
                document.body.removeChild(node);
                $.getJSON('/boards_accounts', {slate: node.value + ":::::" + node_location.x + ":::::" +
                node_location.y + ":::::" + node.id + ":::::DEL"}, function (data) {
//                    console.log(data.slates);
            });
            }
        });
        node.addEventListener('dblclick', function()  {
            node.readOnly = false;

        });
        node.addEventListener('keypress', function(e) {
            if (e.keyCode == 13) {
                node.style.fontSize = 18 +'px';
                node.cols = 15;
                node.rows = 3;
                node.readOnly = true;

                $.getJSON('/boards_accounts', {slate: node.value + ":::::" + node_location.x + ":::::" +
                node_location.y + ":::::" + node.id + ":::::NEW"}, function (data) {
//                    console.log(data.slates);
                });
            }
        });
        node.addEventListener('mouseenter', function() {
            node.style.opacity = 0.8;
            node.style.color = 'black';
        });
        node.addEventListener('mouseleave', function() {
            node.style.opacity = 0.6;
            node.style.color = 'black';
        });
        node.addEventListener('dragend', function(e) {
            node_location.x = e.clientX;
            node_location.y = e.clientY - $('#' + node.id).height();
            move(node, node_location.x, node_location.y);
            $.getJSON('/boards_accounts', {slate: node.value + ":::::" + node_location.x + ":::::" +
                node_location.y + ":::::" + node.id + ":::::NEW"}, function (data) {
                    console.log(data[0].slates);
            });
        });
        document.body.appendChild(node);
        fade_in(node);
        move(node, node_location.x, node_location.y);
        node.style.fontSize = 36 +'px';

    }

    function createPastNote(info) {
        var node = document.createElement("textarea");
        node.autofocus = 'autofocus';
        node.placeholder = starterMessages[Math.floor(Math.random() * starterMessages.length)];
        id = id + 1;
        node.id = id;
        node.style.fontSize = 18 +'px';
        node.cols = 15;
        node.rows = 3;
//        node.style.border = '1px solid black';
        node.style.opacity = 0;

        node.value = info[0];
        var node_location = {x: info[1], y: info[2]};

        node.setAttribute('draggable', 'true');
        node.addEventListener('click', function(e) {
            if (e.shiftKey) {
                document.body.removeChild(node);
                $.getJSON('/boards_accounts', {slate: node.value + ":::::" + node_location.x + ":::::" +
                node_location.y + ":::::" + node.id + ":::::DEL"}, function (data) {
//                    console.log(data.slates);
            });
            }
        });
        node.addEventListener('dblclick', function()  {
            node.readOnly = false;
            $.getJSON('/boards_accounts', {slate: node.value + ":::::" + node_location.x + ":::::" +
                node_location.y + ":::::" + node.id + ":::::NEW"}, function (data) {
//                    console.log(data.slates);
            });
        });
        node.addEventListener('keypress', function(e) {
            if (e.keyCode == 13) {
                node.style.fontSize = 18 +'px';
                node.cols = 15;
                node.rows = 3;
                node.readOnly = true;

                $.getJSON('/boards_accounts', {slate: node.value + ":::::" + node_location.x + ":::::" +
                node_location.y + ":::::" + node.id + ":::::NEW"}, function (data) {
//                    console.log(data.slates);
                });
            }
        });
        node.addEventListener('mouseenter', function() {
            node.style.opacity = 0.8;
            node.style.color = 'black';
        });
        node.addEventListener('mouseleave', function() {
            node.style.opacity = 0.6;
            node.style.color = 'black';
        });
        node.addEventListener('dragend', function(e) {
            node_location.x = e.clientX;
            node_location.y = e.clientY - $('#' + node.id).height();
            move(node, node_location.x, node_location.y);
            $.getJSON('/boards_accounts', {slate: node.value + ":::::" + node_location.x + ":::::" +
                node_location.y + ":::::" + node.id + ":::::NEW"}, function (data) {
                    console.log(data[0].slates);
            });
        });
        document.body.appendChild(node);
        fade_in(node);
        move(node, node_location.x, node_location.y);
        node.style.fontSize = 36 +'px';
    }

    function generatePastNotes() {
        $.getJSON('/boards_accounts', function(data) {
            console.log(data[0].slates);
//            $.each(data, function(key, val) {
//
////                if (key == 'slates') {
//                    console.log(key);
//                    for (var i = 0; i < val.length; i++) {
//                        var curr = val[i];
//                        if (curr != '') {
//                            var info = curr.split(":::::");
//                            console.log(curr);
//                            createPastNote(info);
//                        }
//                    }
////                }
//            });

            var slates = data[0].slates;
            for (var i = 0; i < slates.length; i++) {
                var slate = slates[i];
                if (slate != '') {
                    var info = slate.split(':::::'); // 0 is text, 1 is x-coor, 2 is y-coor

                    createPastNote(info);
                }
            }
        });
    }


    function fade_in(element) {
        var op = 0.1;
        element.style.display = 'block';
        var timer = setInterval(function () {
            if (op >= 0.6){
                clearInterval(timer);
            }
            element.style.opacity = op;
            element.style.filter = 'alpha(opacity=' + op * 100 + ")";
            op += op * 0.1;
        }, 10);
    }
</script>
</body>
</html>

